<nav>
  <mat-accordion>
    <mat-expansion-panel mullti>
      <mat-expansion-panel-header>
        <mat-panel-title> 
        </mat-panel-title>
        <mat-panel-description>
          <img class="img-fluid imgLogo" src="../assets/img/logo.png" alt="Logo Mar Santista">
        </mat-panel-description>     
      </mat-expansion-panel-header>
      <ul>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos debitis, dignissimos, ratione reiciendis odio, quo expedita ipsa fugit quisquam voluptatibus aperiam pariatur atque quia voluptas inventore veniam. Tenetur, eaque amet?</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos debitis, dignissimos, ratione reiciendis odio, quo expedita ipsa fugit quisquam voluptatibus aperiam pariatur atque quia voluptas inventore veniam. Tenetur, eaque amet?</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos debitis, dignissimos, ratione reiciendis odio, quo expedita ipsa fugit quisquam voluptatibus aperiam pariatur atque quia voluptas inventore veniam. Tenetur, eaque amet?</li>
      </ul>
    </mat-expansion-panel>
   
  </mat-accordion>

</nav>
<main>
<router-outlet></router-outlet>
</main>
<footer>
  <p>Desenvolvido por <a href="http://sites.achei.digital" target="_blank" rel="noopener noreferrer">Achei Digital</a></p>
</footer>